* {
    background-color: rgb(0, 176, 105);
    background-color: rgb(255, 159, 132);
    background-color: rgb(165, 0, 243);
    background-color: rgb(249, 219, 94);
    background-color: rgb(35, 37, 37);
    background-color: rgb(0, 53, 51);
}